name: ESPHome Build

on:
  push:
    branches:
      - main
    paths:
      - garage-remote.yaml
      - .github/workflows/esphome-build.yml
  pull_request:
    paths:
      - garage-remote.yaml
      - .github/workflows/esphome-build.yml
  workflow_dispatch:

jobs:
  build:
    name: Build garage-remote
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Create dummy secrets.yaml
        run: |
          cat <<'EOF' > secrets.yaml
          wifi_ssid: "dummy-ssid"
          wifi_password: "dummy-password"
          EOF

      - name: Build Firmware
        id: esphome-build
        uses: esphome/build-action@v7
        with:
          yaml-file: garage-remote.yaml
